<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="BioSecure App">
    <meta name="author" content="Divya Sivasankaran">
    <title>Kennedy Family Recipe App</title>
    <!-- styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
 
<h1>BioSecure</h1>
 

This is a webservice that provides APIs to a Face Recognition APP.
 
 
<h2>Enroll</h2>
 
 
<h2>Identify</h2>
 
 
<h2>Verify</h2>
 
 
<h2>Delete</h2>
 
  </body>
</html>
